[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
numpy = "*"
matplotlib = "*"
appnope = "*"
midiutil = "*"
pandas = "*"
music21 = "*"
beautifulsoup4 = "*"
gensim = "*"
pymilvus = "*"
tqdm = "*"
miditoolkit = "*"
chorder = "*"
mido = "*"
tensorflow = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
